$BG_CLR_GREY: #d9d9d9;
$FG_CLR_GREY: #595959;

$BG_CLR_BLUE: #ecf2f9;
$FG_CLR_BLUE: #0080ff;

$BG_CLR_ORANGE: #ece2c6;
$FG_CLR_ORANGE: #997300;

$BG_CLR_RED: #f2d9d9;
$FG_CLR_RED: #cc3333;

$BG_CLR_GREEN: #ecf9ec;
$FG_CLR_GREEN: #009900;

$BG_CLR_TEAL: #d9f2ee;
$FG_CLR_TEAL: #2d8677;

$OUTLINE_WIDTH: 1px;
$OUTLINE_WIDTH_SELECTED: 3px;
$HANDLE_GRIP_SIZE: 15px;
$HANDLE_SIZE: 5px;
$HANDLE_SPACING_X: 20px;
$HANDLE_SPACING_Y: 13px;
$HANDLE_BORDER_RADIUS: 2px;

$NODE_TYPES: START, NORMAL, AWAITING_REPLY, ERROR, DONE, teal;
$NODE_FG_COLORS: (
  START: $FG_CLR_GREY,
  NORMAL: $FG_CLR_BLUE,
  AWAITING_REPLY: $FG_CLR_ORANGE,
  ERROR: $FG_CLR_RED,
  DONE: $FG_CLR_GREEN,
  teal: $FG_CLR_TEAL
);
$NODE_BG_COLORS: (
  START: $BG_CLR_GREY,
  NORMAL: $BG_CLR_BLUE,
  AWAITING_REPLY: $BG_CLR_ORANGE,
  ERROR: $BG_CLR_RED,
  DONE: $BG_CLR_GREEN,
  teal: $BG_CLR_TEAL
);

// .test {
//   background-color: $BG_CLR_BLUE;
//   border-radius: $HANDLE_BORDER_RADIUS;
//   cursor: pointer;
//   height: $HANDLE_SIZE;
//   left: 100px;
//   outline-offset: -$OUTLINE_WIDTH;
//   outline: $OUTLINE_WIDTH solid $FG_CLR_BLUE;
//   top: 100px;
//   width: $HANDLE_SIZE;
//   z-index: 100;

//   div {
//     background: none;
//     border-radius: $HANDLE_BORDER_RADIUS;
//     height: $HANDLE_GRIP_SIZE;
//     left: 50%;
//     outline: none;
//     position: absolute;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     width: $HANDLE_GRIP_SIZE;
//   }

//   &:hover {
//     background: none;
//     outline: none;

//     div {
//       background-color: $BG_CLR_BLUE;
//       outline: $OUTLINE_WIDTH_SELECTED solid $FG_CLR_BLUE;
//     }
//   }
// }

body {
  margin: 0;
}

.white-gloves-workflow-editor {

  * {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  input {
    border: none;
    outline: none;
    min-width: 90px;
    max-width: 190px;
  }

  .node-toolbar {
    .MuiStack-root {
      background-color: #ffffff;
      border-radius: 4px;
      box-shadow: 0 0 5px #c0c0c0;
      padding: 10px;

      .MuiButton-root {
        border-width: 0.75px;
        font-size: 10px;
        height: 24px;
        text-transform: none;
        width: 90px;

        @each $type in $NODE_TYPES {
          &.#{"" + $type + ""} {
            background-color: map-get($NODE_BG_COLORS, $type);
            border-color: map-get($NODE_FG_COLORS, $type);
            color: map-get($NODE_FG_COLORS, $type);
          }
        }

        &.selected {
          border-width: 1.5px;
        }
      }

      .MuiCheckbox-root {
        padding: 0;
      }
    }
  }

  .custom-node {
    .content {
      display: table-cell;
      font-size: 12px;
      height: 25px;
      max-width: 200px;
      min-width: 105px;
      outline-style: solid;
      outline-width: $OUTLINE_WIDTH;
      overflow: hidden;
      padding: 0 10px;
      text-align: center;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
      border-radius: 2px;

      .label {
        max-width: 180px;
        min-width: 85px;
      }
    }

    .handle {
      background: none;
      border-radius: $HANDLE_BORDER_RADIUS;
      border: none;
      height: $HANDLE_GRIP_SIZE;
      min-height: 0;
      min-width: 0;
      outline-offset: -$OUTLINE_WIDTH_SELECTED;
      width: $HANDLE_GRIP_SIZE;

      &:hover {
        .handle-inner {
          display: none;
        }
      }

      .handle-inner {
        border-radius: $HANDLE_BORDER_RADIUS;
        height: $HANDLE_SIZE;
        left: calc(($HANDLE_GRIP_SIZE - $HANDLE_SIZE) / 2);
        outline-offset: -$OUTLINE_WIDTH;
        position: absolute;
        top: calc(($HANDLE_GRIP_SIZE - $HANDLE_SIZE) / 2);
        width: $HANDLE_SIZE;
      }

      @for $i from -1 through 1 {
        &.top.index_#{$i} {
          transform: translate(calc(-50% + ($i * $HANDLE_SPACING_X)), 3px - calc(($HANDLE_GRIP_SIZE - 1px) / 2));
        }

        &.bottom.index_#{$i} {
          transform: translate(calc(-50% + ($i * $HANDLE_SPACING_X)), -3px + calc(($HANDLE_GRIP_SIZE - 1px) / 2));
        }
      }

      // &.top.index_-1 {
      //   transform: translate(calc(-50% - $HANDLE_SPACING_X), 3px - calc(($HANDLE_GRIP_SIZE - 1px) / 2));
      // }

      // &.top.index_0 {
      //   transform: translate(calc(-50%), 3px - calc(($HANDLE_GRIP_SIZE - 1px) / 2));
      // }

      // &.top.index_1 {
      //   transform: translate(calc(-50% + $HANDLE_SPACING_X), 3px - calc(($HANDLE_GRIP_SIZE - 1px) / 2));
      // }

      // &.bottom.index_-1 {
      //   transform: translate(calc(-50% - $HANDLE_SPACING_X), -3px + calc(($HANDLE_GRIP_SIZE - 1px) / 2));
      // }

      // &.bottom.index_0 {
      //   transform: translate(calc(-50%), -3px + calc(($HANDLE_GRIP_SIZE - 1px) / 2));
      // }

      // &.bottom.index_1 {
      //   transform: translate(calc(-50% + $HANDLE_SPACING_X), -3px + calc(($HANDLE_GRIP_SIZE - 1px) / 2));
      // }

      &.left.index_-1 {
        transform: translate(3px - calc(($HANDLE_GRIP_SIZE - 1px) / 2), calc(-50% - $HANDLE_SPACING_Y - 0.5px));
      }

      &.left.index_0 {
        transform: translate(3px - calc(($HANDLE_GRIP_SIZE - 1px) / 2), calc(-50% - 0.5px));
      }

      &.left.index_1 {
        transform: translate(3px - calc(($HANDLE_GRIP_SIZE - 1px) / 2), calc(-50% + $HANDLE_SPACING_Y - 0.5px));
      }

      &.right.index_-1 {
        transform: translate(-3px + calc(($HANDLE_GRIP_SIZE - 1px) / 2), calc(-50% - $HANDLE_SPACING_Y));
      }

      &.right.index_0 {
        transform: translate(-3px + calc(($HANDLE_GRIP_SIZE - 1px) / 2), calc(-50%));
      }

      &.right.index_1 {
        transform: translate(-3px + calc(($HANDLE_GRIP_SIZE - 1px) / 2), calc(-50% + $HANDLE_SPACING_Y));
      }
    }

    &.dead-end .content {
      background-color: #ff0000c0 !important;
    }

    @each $type in $NODE_TYPES {
      &.#{"" + $type + ""} {
        .handle {
          .handle-inner {
            background-color: map-get($NODE_BG_COLORS, $type);
            outline-offset: -$OUTLINE_WIDTH;
            outline: $OUTLINE_WIDTH solid map-get($NODE_FG_COLORS, $type);
          }

          &:hover {
            background-color: map-get($NODE_BG_COLORS, $type);
            outline: $OUTLINE_WIDTH_SELECTED solid map-get($NODE_FG_COLORS, $type);
          }
        }

        .content {
          background-color: map-get($NODE_BG_COLORS, $type);
          outline-color: map-get($NODE_FG_COLORS, $type);
        }
      }
    }

    &:hover,
    &.selected {
      .content {
        outline-width: $OUTLINE_WIDTH_SELECTED;
        outline-offset: calc(($OUTLINE_WIDTH - $OUTLINE_WIDTH_SELECTED) / 2);
      }
    }

    .MuiAutocomplete-root {
      .MuiTextField-root {
        .MuiInput-root {
          .MuiInput-input {
            padding-top: 0;
            padding-bottom: 0;
            font-size: 13px;

            &::after {
              display: none;
            }
          }
        }
      }
    }
  }

  .edge-label {
    font-size: 10px;
    padding: 5px 10px;
    pointer-events: all;
    position: absolute;

    .MuiListItemIcon-root {
      min-width: unset;
      padding-right: 5px;

      svg {
        width: 16px;
        height: 16px;
      }
    }

    .MuiListItemText-root {
      margin: 0;

      .MuiTypography-root {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 12px;
      }
    }
  }

  .MuiAutocomplete-popper {
    .MuiPaper-root {
      margin-top: 15px;
      border: 1px solid #c0c0c0;
    }
  }

  .edge-toolbar {
    border: 1px solid #c0c0c0;
    border-radius: 6px;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #808080;

    table {
      border-spacing: 0;

      tr.action-variant:nth-child(2) {
        td {
          border-top: 1px solid #c0c0c0;
          padding-top: 5px;
          margin-top: 10px;
        }
      }

      td {
        padding: 0;
      }

      .start-icon-button {
        &>div {
          padding: 10px;

          .MuiIconButton-root {
            padding: 0;
          }
        }
      }

      .index {
        text-align: center;
      }

      .label {
        &>div {
          padding-left: 0;
          padding-right: 10px;

          .MuiAutocomplete-root {
            min-width: 200px;
            max-width: 200px;
          }
        }
      }

      .variant-email {
        min-width: 0;
        max-width: 250px;

        &>div {
          border-left: 1px solid #e0e0e0;
          width: 230px;
          padding-left: 10px;
          padding-right: 10px;
          height: 30px;
        }
      }

      .variant-has-reminder {
        &>div {
          border-left: 1px solid #e0e0e0;
          padding-left: 10px;
          padding-right: 10px;

          .MuiIconButton-root {
            padding: 0;
          }
        }
      }

      .variant-reminder-email {
        min-width: 0;
        max-width: 250px;

        &>div {
          width: 230px;
          padding-right: 10px;
          height: 30px;
        }
      }

      .variant-has-constraints {
        &>div {
          border-left: 1px solid #e0e0e0;
          padding-left: 10px;
          padding-right: 10px;
          height: 30px;

          .MuiIconButton-root {
            padding: 0;
          }
        }
      }

      .variant-constraints {
        min-width: 0;
        max-width: 250px;

        &>div {
          width: 250px;
        }
      }

      .action-add-variant {
        &>div {

          &>div {
            padding-left: 10px;
            padding-right: 10px;
            border-left: 1px solid #e0e0e0;

            .MuiButton-root {
              min-width: 150px;
              max-width: 150px;
              height: 30px;
            }
          }
        }
      }
    }

    position: absolute;
    z-index: 10;
    transform: translateX(-50%) translateY(0%) translateY(30px);
  }

  .control-buttons {
    position: absolute;
    bottom: 14px;
    left: 40px;
    padding: 8px;
    z-index: 100;

    .MuiButton-root {
      pointer-events: all;
      opacity: 1;
    }

    .MuiButton-outlined {
      background-color: #ffffff;

    }
  }

  .guided-tour {
    position: absolute;
    width: 1250px;
    z-index: 100;
    pointer-events: none;
    background-color: #ffffff;
    box-shadow: 0 0 10px #c0c0c0;
    color: #000000;
    border: 1px solid #c0c0c0;
    border-radius: 6px;
    padding-left: 1em;
    padding-right: 1em;
    bottom: 100px;
    left: 48px;
    opacity: 0.9;

    .close-button {
      position: absolute;
      right: 0;
      pointer-events: all;
    }
  }

  .selection-box {
    position: absolute;
    outline-style: dotted;
    outline-color: #00000040;
    background-color: #00000010;
    pointer-events: none;
  }

  @keyframes edge-animation  {
    from {
      stroke-dashoffset: 100%;
    }
    to {
      stroke-dashoffset: 0%; 
    }
  }

  .tour-panel {
    width: 1000px;
  }

  .control-panel {
    left: 40px;
    .MuiButton-outlined {
      background-color: #ffffff;
    }
  }

  .custom-edge-label {
    &.selected {
      text-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff;
      color: #000000;
      font-weight: bold;
    }
    &.is-editing {}
    &.should-enhance {}
    &.should-make-transparent {
      opacity: 0.25;
    }
  }
}

.MuiTooltip-popper.workflow {
  .MuiTooltip-tooltip {
    opacity: 0.5;
    font-size: 13px !important;
    background-color: #ffffff !important;
    color: #000000c0 !important;
    border: 1px solid #c0c0c0 !important;
    z-index: 1000 !important;
    box-shadow: 0 0 10px #c0c0c0;

    .MuiTooltip-arrow {
      color: #c0c0c0;
    }
  }
}
